apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ecommerce-staging

bases:
  - ../base

nameSuffix: -staging

commonLabels:
  environment: staging

# Patches para staging
patchesStrategicMerge:
  - replicas-patch.yaml
  - resources-patch.yaml
  - virtualservice-gateway-patch.yaml

images:
  - name: 794038226274.dkr.ecr.us-east-1.amazonaws.com/ecommerce/ecommerce-ui
    newTag: v1.0.0
  - name: 794038226274.dkr.ecr.us-east-1.amazonaws.com/ecommerce/product-catalog
    newTag: v1.0.0
  - name: 794038226274.dkr.ecr.us-east-1.amazonaws.com/ecommerce/order-management
    newTag: v1.0.0
  - name: 794038226274.dkr.ecr.us-east-1.amazonaws.com/ecommerce/product-inventory
    newTag: v1.0.0
  - name: 794038226274.dkr.ecr.us-east-1.amazonaws.com/ecommerce/profile-management
    newTag: v1.0.0
  - name: 794038226274.dkr.ecr.us-east-1.amazonaws.com/ecommerce/shipping-handling
    newTag: v1.0.0
  - name: 794038226274.dkr.ecr.us-east-1.amazonaws.com/ecommerce/contact-support
    newTag: v1.0.0
